<div style='display:none' id="add_staff_details">
    <div id='add_staff_details' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
	                <div id="main-title">
						<div class="alert alert-info" align="Center"><h4>Staff Registration</h4></div>
					</div>
					<form action="" id="" name="" method="post" class="">
						<div class="section_1">
							<div class="formrow">
								<div class="formtext">
									<label > Staff Code</label>  
								</div>
								<div class="forminput">
									<input type="text" name="staff_id" value="" ng-model="staff.staff_id">
								</div>
								<div class="formtext">
									<label> First Name</label>  
								</div>
								<div class="forminput">
									<input type="text" name="first_name" value="" ng-model="staff.first_name">
								</div>
								<div class="formtext">
									<label> Last Name</label>  
								</div>
								<div class="forminput">
									<input type="text" name="last_name" value="" ng-model="staff.last_name">
								</div>
								<div class="formtext">
									<label> Username</label>  
								</div>
								<div class="forminput">
									<input type="text" name="username" value="" ng-model="staff.username" ng-change="is_username_exists()">
									<p class="error_message">[[is_exist_message]]</p>
								</div>
								<div class="formtext">
									<label> Password</label>  
								</div>
								<div class="forminput">
									<input type="password" name="password" value="" ng-model="staff.password">
								</div>
								<div class="formtext">
									<label> Confirm Password</label>  
								</div>
								<div class="forminput">
									<input type="password" name="confirm_password" value="" ng-model="confirm_password">
								</div>
								<div class="formtext">
									<label> DOB</label>  
								</div>
								<div class="forminput">
									<input type="text"name="dob" value="" ng-model="dob" id="dob"></text>
								</div>
								<div class="formtext">
									<label>Address</label> 
								</div>
								<div class="forminput">
									<textarea name="address" value="" ng-model="staff.address"></textarea>
								</div>
								<div class="formtext">
									<label > Mobile </label>  
								</div>
								<div class="forminput">
									<input type="text"  name="mobile_number" value=""  ng-model="staff.mobile_number">
								</div>
								<div class="formtext">
									<label> Tel:</label>
								</div>
								<div class="forminput">
									<input type="text" name="land_number" value="" ng-model="staff.land_number">
								</div>
								<div class="formtext">
									<label> Email</label>
								</div>
								<div class="forminput">
									<input type="text"name="email" value="" ng-model="staff.email"></textarea>
								</div>
								<div class="formtext">
									<label>Blood Group</label>	
								</div>
								<div class="forminput">
									<select ng-model="staff.blood_group">
										<option value="">Select</option>
										<option value="A-">A-</option>
										<option value="A+">A+</option>
										<option value="B-">B-</option>
										<option value="B+">B+</option>
										<option value="AB-">AB-</option>
										<option value="AB+">AB+</option>
										<option value="O-">O-</option>
										<option value="O+">O+</option>
									</select>
								</div>
								<div class="formtext">
									<label > Date of join</label>  
								</div>
								<div class="forminput">
									<input type="text"  name="doj" value=""  ng-model="doj" id="doj">	
								</div>
								<div class="formtext">
									<label> Designation</label>  
								</div>
								<div class="forminput">
									<select name="designation" ng-model="staff.designation" ng-options="designation.id as designation.designation for designation in designations" ng-selected="staff.designation == designation.id" ng-change="create_designation()">
										<option value="">Select</option>
									</select>  
								</div>
								<div class="formtext">
									<label > Qualifications</label>  
								</div>
								<div class="forminput">
									<textarea  name="qualifications" value=""  ng-model="staff.qualifications"></textarea>
								</div>
								<div class="formtext">
									<label>Photo</label>
								</div>
								<div class="forminput">
									<input type="file" fileread="photo_img.src" class="file_field"/>
									<input type="hidden" ng-model="photo_img.src"> 
								</div>
								<div class="formtext">
									<label>Experience</label>
								</div>
								<div class="forminput">
									<textarea name="experiance" value="" ng-model="staff.experiance"></textarea>
								</div>
								<div class="formtext">
									<label> Role </label>
								</div>
								<div class="formtext">
									<select ng-model="staff.role">
										<option value="">Select</option>
										<option value="teacher">Teacher</option>
										<option value="office_staff">Office Staff</option>
										<option value="admin">Admin</option>
									</select>
								</div>
								<div class="formtext">
									<label>Certificates </label>
								</div>
								<div class="forminput">
									<textarea name="certificates_submitted" value="" ng-model="staff.certificates_submitted"> </textarea>
								</div>
							</div>
							<div class="formrow">
								<div class="formtext">
									<label>Remarks </label>
								</div>
								<div class="forminput">
									<textarea name="certificates_remarks" value="" ng-model="staff.certificates_remarks"> </textarea>
								</div>
								<div class="formtext">
									<label>File Number</label>
								</div>
								<div class="forminput">
									<input type="text" name="certificates_file" value="" ng-model="staff.certificates_file">
								</div>
							
								<div class="formtext">
									<label>ID Proofs </label>
								</div>
								<div class="forminput">
									<textarea name="id_proof" value="" ng-model="staff.id_proof"></textarea> 
								</div>
								<div class="formtext">
									<label>Remarks </label>
								</div>
								<div class="forminput">
									<textarea name="id_proof_remarks" value="" ng-model="staff.id_proof_remarks"> </textarea>
								</div>
								<div class="formtext">
									<label>File Number</label>
								</div>
								<div class="forminput">
									<input type="text" name="id_proof_file" value="" ng-model="staff.id_proof_file"> 
								</div>
								<div class="control">
									<label> Father/Mother/Guardian Details</label>
									<label>&nbsp;</label>
								</div>
								<div class="formtext">
									<label> Name</label>
								</div>
								<div class="forminput">
									<input type="text" name="guardian_name" value="" ng-model="staff.guardian_name">
								</div>	
								<div class="formtext">
									<label>Address</label>
								</div>
								<div class="forminput">
									<textarea name="guardian_address" value="" ng-model="staff.guardian_address"> </textarea>
								</div>		
								<div class="formtext">
									<label> Relationship</label>
								</div>
								<div class="forminput">
									<textarea name="relationship" value="" ng-model="staff.relationship"></textarea>
								</div>	
								<div class="formtext">
									<label > Mobile </label>  
								</div>
								<div class="forminput">
									<input type="text"  name="guardian_mobile_number" value=""  ng-model="staff.guardian_mobile_number">
								</div>		
								<div class="formtext">
									<label> Tel:</label>
								</div>
								<div class="forminput">
									<input type="text" name="guardian_land_number" value="" ng-model="staff.guardian_land_number">
								</div>		
								<div class="formtext">
									<label> Email</label>
								</div>
								<div class="forminput">
									<input type="text"name="guardian_email" value="" ng-model="staff.guardian_email">
								</div>	
								<div class="control">
									<label> Reference Details Details</label>
									<label>&nbsp;</label>
								</div>
								<div class="formtext">
									<label> Name</label>
								</div>
								<div class="forminput">
									<input type="text" name="reference_name" value="" ng-model="staff.reference_name">
								</div>		
								<div class="formtext">
									<label>Address</label>
								</div>
								<div class="forminput">
									<textarea name="reference_address" value="" ng-model="staff.reference_address"> </textarea>
								</div>	
								<div class="formtext">
									<label > Mobile </label>  
								</div>
								<div class="forminput">
									<input type="text"  name="reference_mobile_number" value=""  ng-model="staff.reference_mobile_number">
								</div>		
								<div class="formtext">
									<label> Tel:</label>
								</div>
								<div class="forminput">
									<input type="text" name="reference_land_number" value="" ng-model="staff.reference_land_number">
								</div>				
								<div class="formtext">
									<label> Email</label>
								</div>
								<div class="forminput">
									<input type="text"name="reference_email" value="" ng-model="staff.reference_email"/>
								</div>						
							</div>
						</div>
						<div  align="Center">
							<div class="buttons">
								<p class="error_message"> [[validation_error]] </p>
								<p ng-show="error_flag" class="error_message">[[message]]</p>
								<input type="button" class="btn btn-info" value="Cancel" ng-click="close_popup()">
								<input type="submit" value="Submit" ng-click="save_new_staff()" class="btn btn-info">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>





















