{% extends 'base.html' %}
{% block title %}Staff Details{% endblock title %}
{% block body_id %}list_staff{% endblock %}

{% block controller %}
	ng-controller="StaffController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block dialogue_popup %}
	{% include 'staff/add_staff.html' %}
	{% include 'staff/view_staff_details.html' %} 
	{% include 'staff/add_designation.html' %} 
	           	
{% endblock %}

{% block content %}	
	<div class="main-title">
		<div class="alert alert-info" align="Center">Staff Details </div>
		<div  class="new_button">		
			<input type="button" class="btn btn-info" value="New Staff" ng-click="add_new_staff()">
		</div>
	</div>
	<div class="list_staff">
		<table id="list" class="table table-striped" ng-show="staffs.length > 0">
			<tr class="success" style="font-size: 12px" style="width:auto">
				<th>Staff Id</th>
				<th>Staff Name</th>
				<th>Designation</th>
				<th>Role</th>
				<th>View</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="staff in visible_list">
				<td>[[staff.staff_id]]</td>
				<td>[[staff.name]]</td>
				<td>[[staff.designation]]</td>
				<td>[[staff.role]]</td>
				<td><a href="" ng-click="display_staff_details(staff)" >View</td>
				<td><a href="/staff/edit_staff_details/[[staff.id]]" >Edit</td>
				<td><a href="/staff/delete_staff_details/[[staff.id]]" >Delete</td>
			</tr>
		</table> 
		{% include 'pagination_div.html' %}
	</div>	

{% endblock content %}