<div style='display:none' id="add_course">
    <div id='add_batch' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
                    <div id="main-title">
                        <div class="alert alert-info" align="Center"><h4>New Course</h4></div>
                    </div>
                    <form action="" id="add_course" name="add_course" method="post" class="add_course">

                    <div class="section_1">

                        <div class="form_text">
                            <label > Course</label> 
                        </div>

                        <div class="form_input"> 
                            <input type="text"  name="course" value=""  ng-model="course">
                        </div> 
                        <div class="form_text">
                            <label > University</label> 
                        </div>
                        <div class="form_input"> 
                            <select name="university" ng-model="university" ng-options="university.id as university.name for university in university_list">
                                <option value="">Select</option>
                            </select>
                        </div> 
                        <div class="form_text">
                            <label > Course Type</label> 
                        </div>
                        <div class="form_input"> 
                            <select name="course_type" ng-model="course_type" ng-change="get_registartion_type()">
                                <option value="">Select</option>
                                <option value="Distant">Distant</option>
                                <option value="Regular">Regular</option>
                            </select>
                        </div> 
                        <div class="form_text" ng-show="is_distant">
                            <label > Registration Type</label> 
                        </div>
                        <div class="form_input"> 
                            <select name="registration_type" ng-model="registration_type" ng-show="is_distant" ng-change="hide_semesters()">
                                <option value="">Select</option>
                                <option value="Registration Only">Registration Only</option>
                                <option value="With Contact Classes">With Contact Classes</option>
                            </select>
                        </div> 
                        <div class="form_text" ng-hide="is_registration_only">
                            <label > Add Semesters</label> 
                        </div>
                        <div class="form_input" ng-hide="is_registration_only"> 
                            <select size="10" name="semester_list" ng-model="semester_list" multiple ng-options="semester.id as semester.semester for semester in semesters">
                            </select>   
                        </div>
                        <div class="form_text">
                            <p class="error_message"> [[validation_error]] </p>
                        </div>

                    </div>
                <div align="center">
                            <p ng-show="error_flag" class="error_message">[[message]]</p>
                            <input class ="btn btn-info" name="submit" type="button" value="Add" ng-click="save_new_course()">
                            <input class ="btn btn-info" name="cancel" type="button" value="Cancel" ng-click="close_popup()">
                        </div>
                    </form>                        
                </div>
            </div>    
        </div>
        <div class="clearfix"></div>
    </div>
</div>