{% extends 'base.html' %}
{% block title %}Courses{% endblock title %}
{% block body_id %}batch{% endblock %}

{% block controller %}
	ng-controller="CollegeController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block dialogue_popup %}
	{% include 'college/add_course.html' %} 	              	
{% endblock %}

{% block content %}
	<div class="main-title">
		<div class="alert alert-info" align="Center">Course </div>
		<div  class="new_button">		
			<input type="button" class="btn btn-info" value="New Course" ng-click="add_new_course()">
		</div>
	</div>
	<div class="course_list">
		<table id="list" class="table table-hover" >
			<tr class="success" style="font-size: 12px" style="width:auto">
			  <th>Course</th>
			  <th>University </th>
			  <th>Course Type</th>
			  <th>Registration Type</th>
			  <th>&nbsp;</th>
			</tr>
			{% for course in courses %} 
			<tr>
				<td>{{course.course}}</td>
				<td>{{course.university}}</td>
				<td>{{course.course_type}}</td>
				<td>{{course.registration_type}}</td>
				<td><a href="{% url 'delete_course' course.id %}" >Delete</td>
			</tr>
			{% endfor %}				
		</table> 
	</div>	
{% endblock content %}