<div class="menu_header">
	<div class="logo">
		<img src="/static/images/Logo.png" >
	</div>
	<div class="menu_div">
		{% if user.is_authenticated %}
			<ul>
				<li class="menu"> <img src="/static/images/user.png" width="24px" >
					<span class="user_name"> 
						{% if user.is_authenticated %}
							{% if user.first_name %}
								{{user.first_name}} {{user.last_name}} 
							{% else %} 
								{{user.username}}
							{% endif %} 
						{% endif %}
					</span>
					<ul>
						<li> <a href="{% url 'reset_password' user.id %}"> Reset password </a> </li>
						<li> <a href="{% url 'logout' %}"> Logout </a> </li>
						
					</ul>
				</li>
				<li class="menu"> <a href=""> College </a> 
					<ul> 
						<li> <a href="{% url 'list_semester' %}"> Semester </a> </li>
						<li> <a href="{% url 'university_list' %}"> University </a> </li>
						<li> <a href="{% url 'list_course' %}"> Course </a> </li>
						<li> <a href="{% url 'branch_list' %}"> Branch </a> </li>
						<li> <a href="{% url 'list_batch' %}"> Batch </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Staff </a> </a> 
					<ul> 
						<li> <a href="{% url 'get_designation' %}"> Designation </a> </li>
						<li> <a href="{% url 'list_staff' %}"> View Staff </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Fees </a>
					<ul>
						<li> <a href="{% url 'fees_heads' %}">Fees Head</a> </li>
						<li> <a href="{% url 'list_fees_structure' %}">Fees Structure</a> </li>
						<li> <a href="{% url 'fees_payment' %}">Course Fees Payment</a> </li>
						<li> <a href="{% url 'common_fees_payment' %}">Common Fees Payment</a> </li>
						<li> <a href="{% url 'list_outstanding_fees' %}">Outstanding Fees</a> </li>
						<li> <a href="{% url 'fee_receipt' %}">Fees Receipt</a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Student </a>
					<ul>
						<li><a href="{% url 'list_student' %}"> Student </a></li>
						<li><a href="{% url 'conduct_certifcate' %}">Conduct Certificate</a></li>
						<li> <a href="{% url 'print_transfer_certificate' %}"> TC </a> </li>
						<li> <a href="{% url 'print_tc_conduct_certificate' %}"> TC and Conduct Certificate</a> </li>
					</ul>

				</li>
				<li class="menu last"> <a href=""> Report </a>
					<ul>
						<li> <a href="{% url 'outstanding_fees_report' %}" >Outstanding Fees</a>
						</li>
						<li> <a href="{% url 'id_card' %}" >ID Card</a>
						</li>
						<li> <a href="{% url 'common_fee_report' %}" >Common Fee Payment</a>
						</li>
						<li> <a href="{% url 'fee_collected_report' %}" >Fee Collected</a>
						</li>
					</ul>
				</li>
			</ul>
		{% endif %}
	</div>
</div>