<div class="menu_header">
	<div class="logo">
		<img src="/static/images/Logo.png" >
	</div>
	<div class="menu_div">
		{% if user.is_authenticated %}
			<ul>
				<li class="menu"> <img src="/static/images/user.png" width="24px" >
					<span class="user_name"> 
						{% if user.is_authenticated %}
							{% if user.first_name %}
								{{user.first_name}} {{user.last_name}} 
							{% else %} 
								{{user.username}}
							{% endif %} 
						{% endif %}
					</span>
					<ul>
						<li> <a href="{% url 'reset_password' user.id %}"> Reset password </a> </li>
						<li> <a href="{% url 'logout' %}"> Logout </a> </li>
						
					</ul>
				</li>
				<li class="menu"> <a href=""> College </a> 
					<ul> 
						<li> <a href="{% url 'list_semester' %}"> Semester </a> </li>
						<li> <a href="{% url 'list_course' %}"> Course </a> </li>
						<li> <a href="{% url 'branch_list' %}"> Branch </a> </li>
						<li> <a href="{% url 'list_batch' %}"> Batch </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Staff </a> </a> 
					<ul> 
						<li> <a href="{% url 'get_designation' %}"> Designation </a> </li>
						<li> <a href="{% url 'list_staff' %}"> View Staff </a> </li>
					</ul>
				</li>
				<li class="menu"> <a href="{% url 'list_student' %}"> Student </a>
					
				</li>
				<li class="menu"> <a href=""> Exam </a>
					<ul>
						<li> <a href="{% url 'schedule_exam' %}"> Schedule Exam</a> </li>
						<li> <a href="{% url 'marks' %}"> Marks</a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Fees </a>
					<ul>
						<li> <a href="{% url 'fees_heads' %}">Fees Head</a> </li>
						<li> <a href="{% url 'list_fees_structure' %}">Fees Structure</a> </li>
						<li> <a href="{% url 'fees_payment' %}">Course Fees Payment</a> </li>
						<li> <a href="{% url 'common_fees_payment' %}">Common Fees Payment</a> </li>
						<li> <a href="{% url 'list_outstanding_fees' %}">Outstanding Fees</a> </li>
					</ul>
				</li>
				<li class="menu"> <a href=""> Attendance </a>
					<ul>
						<li> <a href="{% url 'add_attendance' %}" >Attendance</a>
						</li>
						<li> <a href="{% url 'attendance_details' %}" >View Attendance</a>
						</li>
						<li> <a href="{% url 'holiday_calendar' %}" >Holiday Calendar</a>
						</li>
						<li> <a href="{% url 'clear_batch_details' %}" >Clear Batch Details</a>
						</li>
						<li> <a href="{% url 'clear_holiday_calendar' %}" >Clear Holiday Calendar </a>
						</li>
					</ul>
				</li>
				<li class="menu last"> <a href=""> Report </a>
					<ul>
						<li> <a href="{% url 'outstanding_fees_report' %}" >Outstanding Fees</a>
						</li>
						<li> <a href="{% url 'exam_schedule_report' %}" >Exam Schedule</a>
						</li>
					</ul>
				</li>
			</ul>
		{% endif %}
	</div>
</div>