{% extends 'base.html' %}
{% block title %}Common Fees Payment{% endblock title %}
{% block body_id %}common_fees_payment{% endblock %}

{% block controller %}
	ng-controller="CommonFeesPayment" ng-init="init('{{csrf_token}}')"
{% endblock controller %}
{% block content %}
	
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Common Fees Payment</h4></div>
	</div>
	<div class="form_container">
		<form class="" name="payment" method="post" action="">
			{% csrf_token %}
			<div class="control">
				<label> Name </label>
				<input type="text" ng-model="fees_payment.name">
			</div>
			<div class"error_message">
				<p class='error_message'>[[no_head_error]]</p>
			</div>
			<div class="control">
				<label> Fees Head</label>  
				<select name="head" ng-model="head" ng-options="head as head.name for head in fees_heads" ng-change="get_head_details()">
					<option value="">Select</option>
				</select>
			</div>
			<div class="control">
				<label>Fees Amount</label>
				<input type="text" name="amount" id="fee_amount" ng-model="fees_payment.amount"  readonly/> 
			</div>
			<div class="control">
				<label>Paid Date</label>
				<input type="text" name="paid_date" id="paid_date" value="{{current_date}}" /> 
			</div>
			<div class="control">
				<label>Paid Amount</label>
				<input type="text" name="paid_amount" ng-model="fees_payment.paid_amount"/> 
			</div>
			<div  align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" class="btn btn-info" value="Cancel" onClick="document.location.href = '/'">
					<input type="submit" value="Submit" ng-click="save_fees_payment()" class="btn btn-info">
				</div>
			</div>
		</form>
	</div>	

{% endblock content %}