{% extends 'base.html' %}
{% block title %}FeesHead{% endblock title %}
{% block body_id %}fee_head{% endblock %}

{% block controller %}
	ng-controller="FeesHeadController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block content %}
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Fees Head List</h4></div>
		<div class="new_button">		
			<a href="{% url 'add_fees_head' %}"><input type="button" class="btn btn-info" value="New Fees Head" ></a>
		</div>
	</div>
	<div class="section_3">
		{% if fee_heads|length > 0%}
			<table id="list" class="table table-striped" ng-show="fees_heads.length > 0" >
				<tr class="success" style="font-size: 12px" style="width:auto">
				  	<th>Name</th>
				  	<th>Amount</th>
				  	<th>&nbsp;</th>
				  	<th>&nbsp;</th>
				</tr>
				<tr ng-repeat="head in visible_list">
					<td> [[head.name]]</td>
					<td> [[head.amount]]</td>
					<td style="padding: 8px;"><a href="/fees/edit_fees_head/[[head.id]]/">Edit</a></td>
					<td style="padding: 8px;"><a href="/fees/delete_fees_head/[[head.id]]/">Delete</a></td>
				</tr>
			</table> 
		{% else %}
			<p class="error_message"> No Fees Heads</p>
		{% endif %}
		{% include 'pagination_div.html' %}
	</div>	
{% endblock %}