{% extends 'base.html' %}
{% block title %}FeeStructure{% endblock title %}
{% block body_id %}fee_structure{% endblock %}

{% block controller %}
	ng-controller="FeesStructureController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block content %}
	
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Fees Structure</h4></div>
	</div>
	<div class="form_container">
		<form class="" name="fees_structure" method="post" action="" align="Center">
			<div class="section_1">
				<div class="control">
					<label>Course</label>
					<select ng-change="get_batch()" ng-model="course" ng-options="course.id as course.course for course in courses">
						<option value="">Select</option>
					</select>
				</div>
				<div class="control">
					<label>Batch</label>
					<select ng-model="fee_structure.batch" ng-options="batch.id as batch.name for batch in batches" ng-change="check_fees_structure_exists()">
						<option value="">Select</option>
					</select>
				</div>
			</div>
			<div class="clear"></div>
			<div class="section_1" ng-hide="fees_structure_exists">
				<table class="table striped">
					<tr>
						<th class="no_border_top">Head</th>
						<th class="no_border_top">Amount</th>						
					</tr>
					<tr ng-repeat="fee_head in fees_head_details">
						<td><input type="text" ng-model="fee_head.head"/></td>
						<td><input type="text" ng-model="fee_head.amount"/></td>
						<td>
							<table>
							<th>Payment</th>
							<th>Start Date</th>
							<th>End Date</th>
							<th>Fine</th>
							<td>
							<a class="align_right" href="" ng-click="remove_head(fee_head)"><input class="btn btn-info" type="button" value="X"></a>
							</td>
							<tr ng-repeat="payment in fee_head.payment">
								<td>
									<select class="payment_select" ng-model="payment.type">	   <option value="">Select</option>
										<option value="Early Payment">Early Payment</option>
										<option value="Standard Payment">Standard Payment</option>
										<option value="Late Payment">Late Payment</option>
									</select>
								</td>
								<td><input type="text" name="start_date" id="[[payment.start_date_id]]" ng-model="payment.start_date" ng-click="attach_date_picker_start_date(payment)"></td>
								<td><input type="text" name="end_date" id="[[payment.end_date_id]]" ng-model="payment.end_date" ng-click="attach_date_picker_end_date(payment)"></td>
								<td><input type="text" ng-model="payment.fine"/></td>
							</tr>
							</table>
						</td>
					</tr>
				</table>
				<a class="align_right" href="" ng-click="add_new_head()"><input class="btn btn-info" type="button" value="Add"></a>
			</div>
			
			<div class="control" align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" class="btn btn-info" value="Cancel" onClick="document.location.href = '/'" ng-hide="fees_structure_exists">
					<input type="submit" value="Submit" ng-click="create_fees_structure()" class="btn btn-info" ng-hide="fees_structure_exists">
				</div>
			</div>
		</form>
	</div>
{% endblock %}

