{% extends 'base.html' %}
{% block title %}FeeStructure{% endblock title %}
{% block body_id %}fee_structure{% endblock %}

{% block controller %}
	ng-controller="FeesStructureController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block content %}
	
	<div id="main-title">
		<div class="alert alert-info" align="Center"><h4>Fees Structure</h4></div>
	</div>
	<div class="form_container">
		<form class="" name="fees_structure" method="post" action="" align="Center">
			<div class="section_1">
				<div class="control">
					<label>Course</label>
					<select ng-change="get_batch()" ng-model="course" ng-options="course.id as course.course for course in courses">
						<option value="">Select</option>
					</select>
				</div>
				<div class="control">
					<label>Batch</label>
					<select ng-model="fee_structure.batch" ng-options="batch.id as batch.name for batch in batches" ng-change="check_fees_structure_exists()">
						<option value="">Select</option>
					</select>
				</div>
			</div>
			<div class="clear"></div>
			<div class="section_1" ng-hide="fees_structure_exists">
				<table class="table striped">
					<tr>
						<th>Head</th>
						<th>Amout</th>
						<th>No. of Installments</th>
						<th>&nbsp;</th>
						<th>&nbsp;</th>
					</tr>
					<tr ng-repeat="fee_head in fees_head_details">
						<td><input type="text" ng-model="fee_head.head"/></td>
						<td><input type="text" ng-model="fee_head.amount"/></td>
						<td><input type="text" ng-model="fee_head.no_installment" ng-change="add_fee_structure_installments(fee_head)"/></td>
						<td>
							<table ng-hide="fee_head.shrink">
								<tr ng-show="fee_head.installments.length > 0">
									<th>Due Date</th>
									<th>Amount</th>
									<th>Fine</th>
								</tr>
								<tr ng-repeat="installment in fee_head.installments">
									<td><input type="text" name="due_date" id="[[installment.due_date_id]]" class="due_date" value="" ng-click="attach_date_picker(installment)" ></td>
									<td><input type="text" name="amount" value="" ng-model="installment.amount"></td>
									<td><input type="text" name="fine_amount" value="" ng-model="installment.fine_amount"></td>
									<td><input type="button" value="Remove Head" ng-click="remove_installment(installment, fee_head)"></td>
								</tr>
							</table>
						</td>
						<td><a ng-show="fee_head.shrink"  class="align_left" href="" ng-click="show_installment_details(fee_head)"><input class="btn btn-info" type="button" value="+"></a><a ng-hide="fee_head.shrink" class="align_left" href="" ng-click="show_installment_details(fee_head)"><input class="btn btn-info" type="button" value="-"></a></td>
						<td><input type="button" value="Remove Head" ng-click="remove_head(fee_head)"></td>
					</tr>
				</table>
				<a class="align_right" href="" ng-click="add_new_head()"><input class="btn btn-info" type="button" value="Add"></a>
			</div>
			
			<div class="control" align="Center">
				<div class="buttons">
					<p class="error_message"> [[validation_error]] </p>
					<input type="button" class="btn btn-info" value="Cancel" onClick="document.location.href = '/'" ng-hide="fees_structure_exists">
					<input type="submit" value="Submit" ng-click="create_fees_structure()" class="btn btn-info" ng-hide="fees_structure_exists">
				</div>
			</div>
		</form>
	</div>
{% endblock %}

