<div style='display:none' id="fees_structure_details_view">
    <div id='fees_structure_details_view' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
	                <div id="main-title">
						<div class="alert alert-info" align="Center"><h4> Fees Structure </h4></div>
					</div>
					<div class="section_1">
						<div class="control">
							<table class="table stripped">
								<tr>
									<th> Course </th>
									<th> Batch </th>
								</tr>
								<tr>
									<td> [[fees_structure.course]] </td>
									<td> [[fees_structure.batch]] </td>
								</tr>
							</table>
						</div>

						<div class="control">
							<table class="table">
								<tr>
									<th class="no_border_top"> Head </th>
									<th class="no_border_top"> Amount </th>		
								</tr>
								<tr ng-repeat="head in fees_structure.fees_head">
									<td> [[head.head]] </td>
									<td> [[head.amount]] </td>
									<td  colspan="3">
										<table style="width: 90%;">
											<tr>
												<th class="no_border_top"> Payment Type </th>
												<th class="no_border_top"> Start Date</th>
												<th class="no_border_top"> End Date</th>
												<th class="no_border_top"> Fine Amount </th>
											</tr>
											<tr ng-repeat="installment in head.installments">
												<td style=" width: 20%;"> [[installment.type]] </td>
												<td style=" width: 20%;"> [[installment.start_date]] </td>
												<td style=" width: 20%;"> [[installment.end_date]] </td>							
												<td style=" width: 20%;"> [[installment.fine_amount]] </td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>