{% extends 'base.html' %}
{% block title %}Fees Structure{% endblock title %}
{% block body_id %}list_fees_structure{% endblock %}

{% block controller %}
	ng-controller="FeesStructureController" ng-init="init('{{csrf_token}}')"
{% endblock controller %}

{% block dialogue_popup %}
	{% include 'fees/fees_structure_details_view.html' %}
{% endblock %}

{% block content %}
	
	<div class="main-title">
		<div class="alert alert-info" align="Center">Fees Structure</div>
		<div class="search_batch">
			<label> Course</label> 
			<select name="course" ng-model="course" ng-change="get_batch()" ng-options="course.id as course.course for course in courses">
				<option value="">Select</option>
			</select>
			<label> Batch</label> 
			<select name="batch" ng-model="batch" ng-change="get_fees_structure()" ng-options="bat.id as bat.name for bat in batches">
				<option value="">Select</option>
			</select>
			<p class="error_message"> [[message]] </p>
		</div>
		<div class="new_button">		
			<a href="{% url 'new_fees_structure' %}"> <input type="button" class="btn btn-info" value="Create"></a>
		</div>
	</div>
	<div class="section_3">
		<table id="list" class="table table-hover" ng-show="fees_structures.length > 0">
			<tr class="success" style="font-size: 12px" style="width:auto">
				<th>Course</th>
				<th>Batch</th>
				<th>View</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			<tr ng-repeat="fees_structure in fees_structures">
				<td>[[fees_structure.course]]</td>
				<td>[[fees_structure.batch]]</td>
				<td><a href="" ng-click="display_fees_structure_details(fees_structure)" >View</td>
				<td><a href="/fees/edit_fees_structure_details/[[fees_structure.id]]/" >Edit</td>
				<td><a href="/fees/delete_fees_structure_details/[[fees_structure.id]]/" >Delete</td>
			</tr>
		</table> 
		{% include 'pagination_div.html' %}
	</div>	
{% endblock content %}