<div style='display:none' id="add_student_details">
    <div id='add_student_details' style='padding:10px; background:#fff;'>
        <div class="sign_box">
            <div class="row-fluid">
                <div class="span12 sign_mid">
	                <div id="main-title">
						<div class="alert alert-info" align="Center">
							<h4>Student Registration</h4>
						</div>
					</div>
					<div class="section_1">
						<div class="formrow">
							<div class="formtext">
								<label> Name</label>  
							</div>
							<div class="forminput">
								<input type="text" name="student_name" value="" ng-model="student_name">
							</div>
							<div class="formtext">
								<label > Roll No</label>  
							</div>
							<div class="forminput">
								<input type="text" name="roll_number" value="" ng-model="roll_number">
							</div>
							<div class="formtext">
								<label> Course</label>  
							</div>
							<div class="forminput">
								<select name="course" ng-model="course" ng-change="get_batch()" ng-options="course.id as course.course for course in courses">
									<option value="">Select</option>
								</select>
							</div>
							<div class="formtext">
								<label> Batch</label>  
							</div>
							<div class="forminput">
								<select name="batch" ng-model="batch" ng-change="get_fees_head()" ng-options="batch.id as batch.name for batch in batches">
									<option value="">Select</option>
								</select>
							</div>
							<div class="formtext">
								<label> Qualification</label>  
							</div>
							<div class="forminput">							
								<input type="text" name="qualified_exam" value="" ng-model="qualified_exam">
							</div>
							<div class="formtext">
								<label> Technical Qualification</label>  
							</div>
							<div class="forminput">							
								<input type="text" name="technical_qualification" value="" ng-model="technical_qualification">
							</div>
							<div class="formtext">
								<label> DOB</label>  
							</div>
							<div class="forminput">							
								<input type="text"name="dob" value="" ng-model="dob" id="dob"></text>
							</div>
							<div class="formtext">
								<label>Address</label> 
							</div>
							<div class="forminput">							
								<textarea name="address" value="" ng-model="address"></textarea>
							</div>
							<div class="formtext">
								<label > Mobile </label>			
							</div>
							<div class="forminput">							
								<input type="text"  name="mobile_number" value=""  ng-model="mobile_number">
							</div>
							<div class="formtext">
								<label> Tel:</label>			
							</div>
							<div class="forminput">							
								<input type="text" name="land_number" value="" ng-model="land_number">						
							</div>
							<div class="formtext">
								<label> Email</label>		
							</div>
							<div class="forminput">							
								<input type="text"name="email" value="" ng-model="email"></textarea>						
							</div>
							<div class="formtext">
								<label>Blood Group</label>		
							</div>
							<div class="forminput">							
								<select ng-model="blood_group">
									<option value="">Select</option>
									<option value="A-">A-</option>
									<option value="A+">A+</option>
									<option value="B-">B-</option>
									<option value="B+">B+</option>
									<option value="AB-">AB-</option>
									<option value="AB+">AB+</option>
									<option value="O-">O-</option>
									<option value="O+">O+</option>
								</select>					
							</div>
							<div class="formtext">
								<label > Date of join</label>
							</div>
							<div class="forminput">							
								<input type="text"name="doj" value="" ng-model="doj" id="doj"></text>
							</div>
							<div class="formtext">
								<label>Photo</label>
							</div>
							<div class="forminput">
								<input type="file" fileread="photo_img.src" class="file_field"/>
								<input type="hidden" ng-model="photo_img.src">
							</div>
						</div>
						<div class="formrow">
							<div class="formtext">
								<label>Certificates </label>
							</div>
							<div class="forminput">
								<textarea name="certificates_submitted" value="" ng-model="certificates_submitted"> </textarea>
							</div>
							<div class="formtext">
								<label>Remarks </label>
							</div>
							<div class="forminput">
								<textarea name="certificates_remarks" value="" ng-model="certificates_remarks"> </textarea>
							</div>

							<div class="formtext">
								<label>File Number</label>			
							</div>
							<div class="forminput">
								<input type="text" name="certificates_file" value="" ng-model="certificates_file">
							</div>
							<div class="formtext">
								<label>ID Proofs </label>
							</div>
							<div class="forminput">
								<textarea name="id_proof" value="" ng-model="id_proof"></textarea> 
							</div>
							<div class="formtext">
								<label>Remarks </label>
							</div>
							<div class="forminput">
								<textarea name="id_proof_remarks" value="" ng-model="id_proof_remarks"> </textarea>
							</div>
							<div class="formtext">
								<label>File Number</label>
							</div>
							<div class="forminput">
								<input type="text" name="id_proof_file" value="" ng-model="id_proof_file"> 						
							</div>
							<div class="control">
								<label> Father/Mother/Guardian Details</label>
								<label>&nbsp;</label>
							</div>				
							<div class="formtext">
								<label> Name</label>				
							</div>
							<div class="forminput">
								<input type="text" name="guardian_name" value="" ng-model="guardian_name">
							</div>
							<div class="formtext">
								<label>Address</label>				
							</div>
							<div class="forminput">
								<textarea name="guardian_address" value="" ng-model="guardian_address"> </textarea>
							</div>
							<div class="formtext">
								<label> Relationship</label>
							</div>
							<div class="forminput">
								<textarea name="relationship" value="" ng-model="relationship"></textarea>
							</div>	
							<div class="formtext">
								<label > Mobile </label> 
							</div>
							<div class="forminput">
								<input type="text"  name="guardian_mobile_number" value=""  ng-model="guardian_mobile_number">
							</div>
							<div class="formtext">
								<label> Tel:</label>
							</div>
							<div class="forminput">
								<input type="text" name="guardian_land_number" value="" ng-model="guardian_land_number">
							</div>
							<div class="formtext">
								<label> Email</label>
							</div>
							<div class="forminput">
								<input type="text"name="guardian_email" value="" ng-model="guardian_email">
							</div>
						</div>
					</div>
					<div  align="Center">		
						<div class="buttons">
							<p class="error_message"> [[validation_error]] </p>
							<input type="button" class="btn btn-info" value="Cancel" ng-click="close_popup()" >
							<input type="submit" value="Submit" ng-click="save_new_student()" class="btn btn-info">				
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>





















